<a href="https://colab.research.google.com/github/Giogeorge213/Python_Projects/blob/main/AirlineSatisfaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

import statsmodels.api as sm

In [ ]:
df1 = pd.read_csv('test.csv')
df2= pd.read_csv('train.csv')

In [ ]:
df = pd.concat([df1,df2], ignore_index= True)

### Handle NANs

In [ ]:
nan_counts = df.isna().sum()
print(nan_counts)

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
dtype: int64

#### Arrival Delay in Minutes NANs correspond to no values entered. Drop the rows

In [ ]:
naResult = df[df['Arrival Delay in Minutes'].isna()]
print(naResult)
df.dropna(inplace = True)

        Unnamed: 0      id  Gender      Customer Type  Age   Type of Travel  \
516            516  107365  Female     Loyal Customer   21  Personal Travel
656            656  108648    Male     Loyal Customer    9  Personal Travel
1071          1071   16797    Male  disloyal Customer   25  Business travel
1224          1224   30090    Male     Loyal Customer    7  Personal Travel
1589          1589   41924  Female     Loyal Customer   58  Business travel
...            ...     ...     ...                ...  ...              ...
128043      102067   36729    Male     Loyal Customer   49  Personal Travel
128360      102384   71241    Male     Loyal Customer   58  Business travel
128528      102552   27684  Female  disloyal Customer   29  Business travel
128936      102960   36787    Male     Loyal Customer   58  Business travel
129516      103540   45022  Female     Loyal Customer   33  Personal Travel

           Class  Flight Distance  Inflight wifi service  \
516          Eco              632                      1
656          Eco              762                      2
1071         Eco             1017                      3
1224         Eco              399                      4
1589         Eco              129                      5
...          ...              ...                    ...
128043  Eco Plus             1249                      2
128360       Eco              733                      3
128528       Eco             1107                      2
128936       Eco             1088                      4
129516       Eco              359                      4

        Departure/Arrival time convenient  ...  Inflight entertainment  \
516                                     5  ...                       2
656                                     5  ...                       4
1071                                    4  ...                       5
1224                                    5  ...                       4
1589                                    3  ...                       5
...                                   ...  ...                     ...
128043                                  5  ...                       3
128360                                  3  ...                       3
128528                                  1  ...                       5
128936                                  4  ...                       5
129516                                  4  ...                       4

        On-board service  Leg room service  Baggage handling  Checkin service  \
516                    4                 2                 5                4
656                    2                 5                 2                5
1071                   2                 5                 2                3
1224                   4                 3                 1                1
1589                   5                 5                 5                3
...                  ...               ...               ...              ...
128043                 4                 5                 4                3
128360                 3                 1                 2                4
128528                 4                 1                 5                5
128936                 1                 5                 5                5
129516                 3                 2                 5                3

        Inflight service  Cleanliness  Departure Delay in Minutes  \
516                    5            2                           9
656                    2            4                          51
1071                   2            5                         126
1224                   4            4                           0
1589                   5            5                           3
...                  ...          ...                         ...
128043                 4            3                         230
128360                 2            3                          55
128528                 3            5                           0
128936                 3            5                           0
129516                 5            4                          42

        Arrival Delay in Minutes             satisfaction
516                          NaN  neutral or dissatisfied
656                          NaN  neutral or dissatisfied
1071                         NaN  neutral or dissatisfied
1224                         NaN  neutral or dissatisfied
1589                         NaN                satisfied
...                          ...                      ...
128043                       NaN  neutral or dissatisfied
128360                       NaN  neutral or dissatisfied
128528                       NaN  neutral or dissatisfied
128936                       NaN                satisfied
129516                       NaN  neutral or dissatisfied

[393 rows x 25 columns]

### Have to convert String entries to usable types for model training

In [ ]:
df.select_dtypes(include='object')

,Gender,Customer Type,Type of Travel,Class,satisfaction
0,Female,Loyal Customer,Business travel,Eco,satisfied
1,Female,Loyal Customer,Business travel,Business,satisfied
2,Male,disloyal Customer,Business travel,Eco,neutral or dissatisfied
3,Male,Loyal Customer,Business travel,Business,satisfied
4,Female,Loyal Customer,Business travel,Eco,satisfied
...,...,...,...,...,...
129875,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
129876,Male,Loyal Customer,Business travel,Business,satisfied
129877,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
129878,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
129879,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied

In [ ]:
df = pd.get_dummies(df, columns=['Gender'], drop_first=True)
df = pd.get_dummies(df, columns=['Customer Type'], drop_first=True)
df = pd.get_dummies(df, columns=['Type of Travel'], drop_first=True)

In [ ]:
class_mapping = {'Eco': 0, 'Eco Plus': 1, 'Business': 2}
df['Class'] = df['Class'].map(class_mapping)
satisfaction_mapping = {'neutral or dissatisfied': 0, 'satisfied': 1}
df['satisfaction'] = df['satisfaction'].map(satisfaction_mapping)

In [ ]:
df.head()

,Unnamed: 0,id,Age,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel
0,0,19556,52,0,160,5,4,3,4,3,...,5,2,5,5,50,44.0,1,0,0,0
1,1,90035,36,2,2863,1,1,3,1,5,...,4,3,4,5,0,0.0,1,0,0,0
2,2,12360,20,0,192,2,0,2,4,2,...,3,2,2,2,0,0.0,0,1,1,0
3,3,77959,44,2,3377,0,0,0,2,3,...,1,3,1,4,0,6.0,1,1,0,0
4,4,36875,49,0,1182,2,3,4,3,4,...,2,4,2,4,0,20.0,1,0,0,0

### Create two separate dfs for analysis input set and output. Inputs predict the output which is satisfaction

In [ ]:
X = df.drop(columns = ['satisfaction'])
y = df['satisfaction']

### Create training and test sets and model based on Logistic Regression Sklearn

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [ ]:
model1 = LogisticRegression(max_iter=1000)
model1.fit(X_train, y_train)
y_pred = model1.predict(X_test)

In [ ]:
accuracy1 = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy1)

Accuracy: 0.7751563827322573

### GLM analysis using statsmodels

In [ ]:
X = sm.add_constant(X)

In [ ]:
model2 = sm.GLM(y, X, family=sm.families.Gaussian())

In [ ]:
result = model2.fit()

In [ ]:
print(result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           satisfaction   No. Observations:               129487
Model:                            GLM   Df Residuals:                   129462
Model Family:                Gaussian   Df Model:                           24
Link Function:               identity   Scale:                         0.11023
Method:                          IRLS   Log-Likelihood:                -40951.
Date:                Wed, 26 Jul 2023   Deviance:                       14271.
Time:                        20:19:49   Pearson chi2:                 1.43e+04
No. Iterations:                     3   Pseudo R-squ. (CS):             0.7075
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                -0.3079      0.007    -47.292      0.000      -0.321      -0.295
Unnamed: 0                        -6.936e-08   2.96e-08     -2.346      0.019   -1.27e-07   -1.14e-08
id                                -4.459e-07   2.51e-08    -17.749      0.000   -4.95e-07   -3.97e-07
Age                                  -0.0009   6.58e-05    -14.382      0.000      -0.001      -0.001
Class                                 0.0605      0.001     44.917      0.000       0.058       0.063
Flight Distance                    5.259e-06   1.07e-06      4.896      0.000    3.15e-06    7.36e-06
Inflight wifi service                 0.0660      0.001     60.772      0.000       0.064       0.068
Departure/Arrival time convenient    -0.0175      0.001    -22.429      0.000      -0.019      -0.016
Ease of Online booking               -0.0399      0.001    -36.918      0.000      -0.042      -0.038
Gate location                         0.0038      0.001      4.268      0.000       0.002       0.006
Food and drink                       -0.0044      0.001     -4.327      0.000      -0.006      -0.002
Online boarding                       0.0808      0.001     83.657      0.000       0.079       0.083
Seat comfort                          0.0092      0.001      8.461      0.000       0.007       0.011
Inflight entertainment                0.0134      0.001      9.772      0.000       0.011       0.016
On-board service                      0.0357      0.001     37.400      0.000       0.034       0.038
Leg room service                      0.0333      0.001     41.401      0.000       0.032       0.035
Baggage handling                      0.0178      0.001     16.468      0.000       0.016       0.020
Checkin service                       0.0383      0.001     47.504      0.000       0.037       0.040
Inflight service                      0.0158      0.001     13.932      0.000       0.014       0.018
Cleanliness                           0.0264      0.001     22.164      0.000       0.024       0.029
Departure Delay in Minutes            0.0006   9.33e-05      6.535      0.000       0.000       0.001
Arrival Delay in Minutes             -0.0011   9.21e-05    -12.222      0.000      -0.001      -0.001
Gender_Male                           0.0102      0.002      5.494      0.000       0.007       0.014
Customer Type_disloyal Customer      -0.3035      0.003   -101.325      0.000      -0.309      -0.298
Type of Travel_Personal Travel       -0.3843      0.003   -133.503      0.000      -0.390      -0.379
=====================================================================================================